.wbdv-sticky-top {
    position: fixed;
    width: 100%;
    background-color: lightblue;
    z-index: 1;
}

.wbdv-padding-5px {
    padding: 5px;
}

.wbdv-padding-1px {
    padding: 2px
}

.wbdv-sticky-bottom {
    position: fixed;
    z-index: 1;
}
